<!--start-banner-bottom--> 
	<div class="banner-bottom">
		<div class="container">
			<div class="banner-bottom-top">
			{{#each getHighlight}}
				<div class="col-md-6 banner-bottom-left">
					<div class="bnr-one">
						<div class="bnr-left">
							<h1><a href="/san-pham/{{id}}-{{alias}}.html">{{name}}</a></h1>
							<p>Sản phẩm nổi bật</p>
							<div class="b-btn"> 
								<a href="/san-pham/{{id}}-{{alias}}.html">Xem ngay</a>
							</div>
						</div>
						<div class="bnr-right"> 
							<a href="/san-pham/{{id}}-{{alias}}.html"><img src="/product/{{image}}" alt="" /></a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			{{/each}}
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--end-banner-bottom--> 

	